all_files
chemRAG
config.json
*__pycache__*
*.pyc
.env
*.log
*.db
*.sqlite3
*.DS_Store
*.swp
*.swo
*.vscode


nb/output-*
nb/files
nb/data
nb/faiss_mlindex_with_langchain-1.ipynb
aml_workspace/config/dev.local.json
nb/output_dir
nb/temp
